{{ define "req" }}
AAAAAAAAAA
{{ end }}

{{ define "i" }}
// TYPE
{{ .LowerName }}, struct_errs := {{ .LowerName }}.InnerValidation()
for path, err_list := range struct_errs {
    for _, err := range err_list {
        errs[{{ .Path }} + "." + path] = append(errs[{{ .Path }} + "." + path], err) 
    }    
}
_ = {{ .LowerName }} // No rules fix
{{ end }}

{{ define "not_empty" }}
if !(len({{ .LowerName }}) > 0) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("can not be empty"))
}
{{ end }}

{{ define "custom" }}
if err := {{ .Param }}({{ .LowerName }}); err != nil {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], err.Error())
}
{{ end }}

{{ define "gt" }}
if !({{ .LowerName }} > {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("must be > {{ .Param }}"))
}
{{ end }}

{{ define "lt" }}
if !({{ .LowerName }} < {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("must be < {{ .Param }}"))
}
{{ end }}

{{ define "gte" }}
if !({{ .LowerName }} >= {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("must be >= {{ .Param }}"))
}
{{ end }}

{{ define "lte" }}
if !({{ .LowerName }} <= {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("must be <= {{ .Param }}"))
}
{{ end }}

{{ define "len_gt" }}
if !(len({{ .LowerName }}) > {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("len must be > {{ .Param }}"))
}
{{ end }}

{{ define "len_lt" }}
if !(len({{ .LowerName }}) < {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("len must be < {{ .Param }}"))
}
{{ end }}

{{ define "len_gte" }}
if !(len({{ .LowerName }}) >= {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("len must be >= {{ .Param }}"))
}
{{ end }}

{{ define "len_lte" }}
if !(len({{ .LowerName }}) >= {{ .Param }}) {
    errs[{{ .Path }}] = append(errs[{{ .Path }}], fmt.Sprintf("len must be >= {{ .Param }}"))
}
{{ end }}
